.App {
  height: 100vh;
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  background-color: darkslategrey;
  padding-top: 50px;
}

.input {
  height: 25px;
  width: 350px;
}

.noteList {
  text-align: left;
  width: 350px;
  background-color: goldenrod;
  padding: 10px;
  
}
.listElement {
  display: flex;
  flex-direction: column;
  justify-content:center;
}
.checkBox {
  background-color: khaki;
  height:20px;
  width:20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading{
  width: 250px;
  background-color:burlywood;
  border: 2px solid brown;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.pro-done{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;
}

.progress{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  
}
.done{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  
}

